<a href="https://colab.research.google.com/github/samiha-mahin/Apartment_Price_Prediction_ML/blob/main/Dhaka_Apartment_Price_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline
import seaborn as sns

In [ ]:
df1 = pd.read_csv('/content/Dhaka_Apartment_Dataset.csv')
df2 = pd.read_csv('/content/bproperty_data.csv')

In [ ]:
df2.head()

,Unnamed: 0,Location,Price,Type,No. Beds,No. Baths,Area,Latitude,Longitude,Region,Sub-region
0,0.0,"Sector 10, Uttara, Dhaka",7500000,Apartment,3.0,3.0,1300.0,23.86846,90.39280,Uttara,Sector 10
1,1.0,"Section 11, Mirpur, Dhaka",7280000,Apartment,4.0,4.0,1456.0,23.81223,90.35967,Mirpur,Section 11
2,2.0,"Chowdhuripara, Khilgaon, Dhaka",13000000,Apartment,3.0,3.0,1550.0,23.75349,90.42469,Khilgaon,Chowdhuripara
3,3.0,"Road No 4, Banani, Dhaka",37000000,Apartment,3.0,3.0,2669.0,23.78855,90.40081,Banani,Road No 4
4,4.0,"South Banasree Project, Banasree, Dhaka",3600000,Apartment,2.0,2.0,835.0,23.76354,90.43180,Banasree,South Banasree Project

In [ ]:
len(df2['Region'].unique())

69

In [ ]:
df3 = df2[['Price', 'Type', 'No. Beds', 'No. Baths', 'Area', 'Region']]
df3.head(1)

     Price       Type  No. Beds  No. Baths    Area  Region
0  7500000  Apartment       3.0        3.0  1300.0  Uttara

In [ ]:
df4 = df3.rename(columns={
    'No. Beds': 'Bed',
    'No. Baths': 'Bath',
    'Area' : 'Size',
    'Region': 'Location'
})
df4.head(1)

     Price       Type  Bed  Bath    Size Location
0  7500000  Apartment  3.0   3.0  1300.0   Uttara

In [ ]:
df5 = df4.iloc[:,[0,1,4,2,3,5]]
df5.head(1)

     Price       Type    Size  Bed  Bath Location
0  7500000  Apartment  1300.0  3.0   3.0   Uttara

In [ ]:
df5.dtypes

Price         int64
Type         object
Size        float64
Bed         float64
Bath        float64
Location     object
dtype: object

In [ ]:
df5.isnull().sum()

Price         0
Type          0
Size          0
Bed         204
Bath        204
Location      0
dtype: int64

In [ ]:
df6 = df5.dropna()
df6.head(1)

     Price       Type    Size  Bed  Bath Location
0  7500000  Apartment  1300.0  3.0   3.0   Uttara

In [ ]:
df6.isnull().sum()

Price       0
Type        0
Size        0
Bed         0
Bath        0
Location    0
dtype: int64

In [ ]:
df6.head()

      Price       Type    Size  Bed  Bath  Location
0   7500000  Apartment  1300.0  3.0   3.0    Uttara
1   7280000  Apartment  1456.0  4.0   4.0    Mirpur
2  13000000  Apartment  1550.0  3.0   3.0  Khilgaon
3  37000000  Apartment  2669.0  3.0   3.0    Banani
4   3600000  Apartment   835.0  2.0   2.0  Banasree

In [ ]:
df6.Bed = df6.Bed.astype(int)
df6.Bath = df6.Bath.astype(int)

<ipython-input-13-70a6ba403e17>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df6.Bed = df6.Bed.astype(int)
<ipython-input-13-70a6ba403e17>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df6.Bath = df6.Bath.astype(int)

In [ ]:
df6.dtypes

Price         int64
Type         object
Size        float64
Bed           int64
Bath          int64
Location     object
dtype: object

In [ ]:
df6.head()

      Price       Type    Size  Bed  Bath  Location
0   7500000  Apartment  1300.0    3     3    Uttara
1   7280000  Apartment  1456.0    4     4    Mirpur
2  13000000  Apartment  1550.0    3     3  Khilgaon
3  37000000  Apartment  2669.0    3     3    Banani
4   3600000  Apartment   835.0    2     2  Banasree

In [ ]:
df6.shape

(4500, 6)

In [ ]:
df1.head(1)

,Unnamed: 0,price,size_in_sqf,number_of_bath,number_of_bed,full_location,location_area,purpose_of_listing,type_of_listing,completion_status
0,0,19000000.0,2350.0,4,3,"Block B, Bashundhara R-A, Dhaka",Bashundhara R-A,For Sale,Apartment,Ready

In [ ]:
df7 = df1[['price' , 'size_in_sqf', 'number_of_bath','number_of_bed','location_area','type_of_listing']]
df7.head(1)

,price,size_in_sqf,number_of_bath,number_of_bed,location_area,type_of_listing
0,19000000.0,2350.0,4,3,Bashundhara R-A,Apartment

In [ ]:
df8 = df7.rename(columns={
    'price': 'Price',
    'size_in_sqf': 'Size',
    'number_of_bath': 'Bath',
    'number_of_bed': 'Bed',
    'location_area': 'Location',
    'type_of_listing': 'Type'
})
df8.head(1)

        Price    Size  Bath  Bed         Location       Type
0  19000000.0  2350.0     4    3  Bashundhara R-A  Apartment

In [ ]:
df9 =df8.iloc[:,[0,5,1,3,2,4]]
df9.head()

        Price       Type    Size  Bed  Bath         Location
0  19000000.0  Apartment  2350.0    3     4  Bashundhara R-A
1  33000000.0  Apartment  2294.0    3     4          Gulshan
2  13500000.0  Apartment  1745.0    3     3  Bashundhara R-A
3   5300000.0  Apartment  1080.0    3     2        Hazaribag
4  25000000.0  Apartment  1920.0    3     3           Banani

In [ ]:
df6.dtypes

Price         int64
Type         object
Size        float64
Bed           int64
Bath          int64
Location     object
dtype: object

In [ ]:
df9.dtypes

Price       float64
Type         object
Size        float64
Bed           int64
Bath          int64
Location     object
dtype: object

In [ ]:
df9.Price = df9.Price.astype(int)
df9.dtypes

Price         int64
Type         object
Size        float64
Bed           int64
Bath          int64
Location     object
dtype: object

In [ ]:
df10 = pd.concat([df6,df9],axis = 0)
df10.head()

      Price       Type    Size  Bed  Bath  Location
0   7500000  Apartment  1300.0    3     3    Uttara
1   7280000  Apartment  1456.0    4     4    Mirpur
2  13000000  Apartment  1550.0    3     3  Khilgaon
3  37000000  Apartment  2669.0    3     3    Banani
4   3600000  Apartment   835.0    2     2  Banasree

In [ ]:
df10.shape

(15080, 6)

In [ ]:
df10.to_csv('final_data.csv')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')